* {
    padding: 0;
    margin: 0;
    vertical-align: top;
}
body {
    padding-bottom: 40px;
    padding-top: 60px;
}
header, section, footer, nav {
    display: block;
}

.form-signin {
    background-color: #F5F5F5;
    border: 1px solid #E5E5E5;
    border-radius: 5px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
    margin: 0 auto 20px;
    max-width: 300px;
    padding: 19px 29px 29px;
}

.thumbnails .mainimage .thumbnail {
    background-color: #EFEFEF;
    border: 1px solid #CCCCCD;
}

.selected .thumbnail {
    background-color: #7BC978;
}

fieldset .row .thumbnail {
    margin-bottom: 20px;
}