RewriteEngine On

RewriteRule ^([^/\.]+)/([^/\.]+)/([^/\.]+)/([^/\.]+)/$ index.php?module=$1&action=$2&item=$3&page=$4 [L]
RewriteRule ^([^/\.]+)/([^/\.]+)/([^/\.]+)/$ index.php?module=$1&action=$2&item=$3 [L]
RewriteRule ^([^/\.]+)/([^/\.]+)/$ index.php?module=$1&action=$2 [L]
RewriteRule ^([^/\.]+)/$ index.php?module=$1 [L]

php_value upload_max_filesize 10G
php_value post_max_size 10G
php_value max_input_time 3000
php_value max_execution_time 3000
php_value memory_limit 128M