* { padding: 0; margin: 0; vertical-align: top; }
section, nav, header, footer { display: block; margin: 0 auto; }

@font-face {
    font-family: 'BebasNeueRegular';
    src: url('../font/BebasNeue-webfont.eot');
    src: url('../font/BebasNeue-webfont.eot?#iefix') format('embedded-opentype'),
    url('../font/BebasNeue-webfont.woff') format('woff'),
    url('../font/BebasNeue-webfont.ttf') format('truetype'),
    url('../font/BebasNeue-webfont.svg#BebasNeueRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

html, body {
    height: 100%;
}
body {
    background: #D6CD88 url('../images/cw-bg.jpg') repeat-x 0 0;
    color: #CCCA8A;
}

/* Nav */
.navbar-inverse .nav .active > a, .navbar-inverse .nav .active > a:hover, .navbar-inverse .nav .active > a:focus {
    background-color: #5D0B0A;
    color: #CCCA8A;
}
.navbar-inverse .brand, .navbar-inverse .nav > li > a {
    color: #CCCA8A;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
.flags {
    text-align: right;
}

h3 { font-size: 1.05em; }

a {
    color: #CCCA8A;
}

footer .copy,
footer .brands {
    display: inline-block;
    vertical-align: top;
    zoom: 1;
    *display: inline;
}
footer .brands {
    position: relative;
    margin-top: -10px;
    margin-left: 330px;
}

.content {
    background: #5D0B0A;
    padding-top: 30px;
}

.section {
    padding: 20px;
}
.header {
    background: #1B1B1B;
    height: 200px;
    font: 4.1em/1.6em 'BebasNeueRegular', Arial, sans-serif;
}
.header p {
    margin-top: 115px;
    margin-left: 20px;
}

.footer {
    height: 60px;
    background-color: #242424;
}

.footer footer {
    padding-top: 20px;
    padding-left: 10px;
    font-size: 0.80em;
}
.container .navbar .brand {
    background: url('../images/classics-world.com.png') no-repeat 0 0;
    width: 332px;
    height: 174px;
    position: absolute;
    margin-left: 5px;
}

.jaguar {
    position: absolute;
    margin-left: 480px;
    margin-top: 65px;
    width: 468px;
    height: 309px;
    background: url('../images/jaguar-etype.png') no-repeat 0 0;
    z-index: 1;
}

.dl-horizontal dt { width: 70px; }
.dl-horizontal dd { margin-left: 80px; }

.thumbnails .caption p .price {
    font-size: 1.4em;
    font-weight: bold;
}

.thumbnails .row {
    margin: 20px 0 0 0;
}

.news {
    margin-left: 2px;
    list-style: none outside none;
}
.news h1 { font-size: 1.3em; }

aside .news { margin-left: 0; }
aside .news h1 {
    font-size: 1.15em;
    line-height: 1.6em;
    margin: 5px 0;
    padding: 0;
}

.carousel {
    min-height: 455px;
}
.carousel .item img {
    border: 5px solid #CCCA8A;
    border-radius: 5px;
}
.carousel .item .carousel-caption {
    background: none;
    padding: 0;
    position: relative;
    margin-top: -27px;
}
.carousel .item .carousel-caption h4 {
    background: url('../images/carousel-caption.png') no-repeat center center;
    color: #CCCA8A;
    text-align: center;
    height: 50px;
    line-height: 2.8em;
}

/* Contact */
.contact legend {
    color: #CCCA8A;
    border-bottom: 0;
    margin-bottom: 0;
}
.contact .help-block {
    color: #CCCA8A;
}

legend + .control-group {
    margin-top: 10px;
}
.newsletter {
    background-color: #CCCA8A;
    padding: 10px;
    border: 5px solid #d4cd86;
    border-radius: 5px;
}
.newsletter legend {
    color: #5D0B0A;
    font-size: 1.25em;
    margin-bottom: 0;
    border-bottom: 0;
}
.newsletter label {
    color: #5D0B0A;
}

.newsletter.small legend {
    font-size: 1.0em;
}

/* Inventory */
.search {
    background-color: #EFEFEF;
    padding: 10px;
    width: 920px;
    position: relative;
    z-index: 0;
    margin-left: -20px;
    margin-top: -50px;
    margin-bottom: 40px;
    padding-top: 30px;
}
.search legend {
    color: #5D0B0A;
    font-size: 1.9em;
    margin-bottom: 20px;
    border-bottom: 0;
    padding-left: 20px;
}
.search label {
    color: #5D0B0A;
}
/* Inventory details */
.span4 table {
    width: 100%;
}
.span4 table tr td {
    padding: 3px 0;
}
.detail > .price {
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 267px;
    font-size: 1.3em;
    line-height: 3.5em;
    height: 45px;
    vertical-align: bottom;
    background: #490909;
    box-shadow: inset 1px 1px 5px #5D0B0A;
    border: 1px solid #490909;
    border-radius: 5px;
}

.detail > .price > .price {
    font-size: 2.6em;
    line-height: 0.95em;
}
.thumbs {
    margin-left: 10px;
}
.thumbs .span2 {
    background: #490909;
    margin-bottom: 10px;
    margin-left: 10px;
}
.lightbox {
    width: 100%;
    display: block;
    text-align: center;
}
.lightbox img {
    padding: 5px;
}

.span3.beige {
    width: 190px;
}
.beige {
    background-color: #CCCA8A;
    padding: 10px;
    border: 5px solid #d4cd86;
    border-radius: 5px;
}
.beige legend {
    color: #5D0B0A;
    font-size: 1.25em;
    margin-bottom: 0;
    border-bottom: 0;
}
.beige label {
    color: #5D0B0A;
}
.beige.small legend {
    font-size: 1.0em;
}

.beige textarea {
    height: 150px;
}
.beige .control-group .controls input[type=text],
.beige .control-group .controls textarea {
    width: 170px;
}

.thumbnail-image {
    display: block;
    vertical-align: middle;
    height: 155px;
    padding: 5px;
    background: white;
    text-align: center;
    width: 205px;
    background: #490909;
    overflow: hidden;
}


.pagination {
    margin-left: 85px;
}
.pagination ul {
    margin-top: 20px;
}
.pagination ul > li:first-child > a, .pagination ul > li:first-child > span,
.pagination ul > li > a, .pagination ul > li > span {
    background: #490909;
    color: #CCCA8A;
}

.pagination ul > li.active:first-child > a, .pagination ul > li.active:first-child > span,
.pagination ul > li.active > a, .pagination ul > li.active > span{
    background: #CCCA8A;
    color: #490909;
}