* { padding: 0; margin: 0; vertical-align: top; }
section, nav, header, footer { display: block; margin: 0 auto; }

html, body {
    height: 100%;
}
body {
    background: #D8D6A2;
    color: #CCCA8A;
}

a {
    color: #CCCA8A;
}

.content {
    background: #5D0B0A;
    padding-top: 30px;
}

.section {
    padding: 20px;
}
.header {
    background: #1B1B1B;
    height: 200px;
}

.footer {
    height: 60px;
    background-color: #242424;
}

.footer footer {
    padding-top: 20px;
    padding-left: 10px;
    font-size: 0.80em;
}
.container .navbar .brand {
    background: url('../images/classics-world.com.png') no-repeat 0 0;
    width: 332px;
    height: 174px;
    position: absolute;
    margin-left: 5px;
}

.jaguar {
    position: absolute;
    margin-left: 480px;
    margin-top: 35px;
    width: 468px;
    height: 309px;
    background: url('../images/jaguar-etype.png') no-repeat 0 0;
}